.containerLogin{
    background: radial-gradient(circle, rgba(107,244,229,1) 0%, rgba(46,155,226,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpLogin{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    border-radius: 2rem;
    border: 4px solid #fff;
}
.popUpLogin h1{
    color: #3c4fe0;
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
}
.popUpLogin p{
    margin: 0.5rem;
}
.popUpLogin p:last-of-type{
  margin-bottom: 2rem;
}

.formLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.formLogin input{
    width: 80%;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.formLogin input:focus{
    outline: none;
}
.formLogin label{
    display: flex;
    width: 80%;
    align-items: flex-start;
}
.formLogin button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 50%;
  margin: 2rem 0 1rem 0;
}

.formLogin button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.formLogin button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.formLogin button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.link{
  text-decoration: none;
  color: #3c4fe0;
  font-weight: 500;
  transition: 0.2s;
}
.link:hover{
  border-bottom: 1px solid #3c4fe0;
  transition: 0.2s;
}